
<ion-header>
  <ion-navbar>
    <ion-title>Connexion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form >
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email"  name="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Mot de Passe</ion-label>
          <ion-input  type="password" name="password"></ion-input>
        </ion-item>
        <button color="danger" ion-button type="submit" block>Connexion</button>
      </form>
</ion-content>
