
<ion-header>
  <ion-navbar>
    <ion-title>Détails des devis</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="devis">
    <ion-item>
        <ion-row>
          <ion-col size="3">
            Prospects
          </ion-col>
          <ion-col>
            Société
          </ion-col>
          <ion-col size="3">
            Produit
          </ion-col>
          <ion-col size="3">
            Prix
          </ion-col>
          <ion-col size="3">
              Quantité
          </ion-col>
          <ion-col size="3">
              Subtotal
            </ion-col>
            <ion-col size="3">
                Status
              </ion-col>
        </ion-row>
      
      


    <ion-row>
      <ion-col size="3">
          {{ devis.prospect }}<br/>
      </ion-col>
    
      <ion-col size="3">
        {{ devis.society }}
      </ion-col>

      <ion-col size="3">
          {{ devis.product }}<br/>
      </ion-col>

      <ion-col size="3">
        {{ devis.price }}
      </ion-col>

      <ion-col size="3">
          {{ devis.quantity }}
      </ion-col>

      <ion-col size="3">
          {{ devis.subtotal}}
      </ion-col>

      <ion-col size="3">
          {{ devis.status }}<br/>
      </ion-col>

    </ion-row>
    </ion-item>

      
    <ion-item>
      <ion-row>
          <ion-col size="3">
              Total du devis
            </ion-col>
        <ion-col size="3">
              {{ devis.total}}
          </ion-col>
    </ion-row>  
  </ion-item>

</div>
  </ion-content>