<ion-header>
  <ion-navbar>
    <ion-title>Details des Prospects</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header> </ion-card-header>
    <ion-card-content>
      
      <!-- <p *ngFor = "let products of product"></p> -->
  
      <div *ngIf="prospect"> 
        
        <ion-chip>
          <ion-avatar>
            <img src="http://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png">
          </ion-avatar>
          <ion-label> {{ prospect. nom }} </ion-label>
        </ion-chip>
         
          <div class="description">
            <span class="italic">{{ prospect.prenom }} </span><br/>
            <!-- <p> {{ prospect.mail }} </p>
            <p> {{ prospect.tel }} </p> -->
            <p *ngIf="prospect.society">{{ prospect.society.nom }}</p>
            <p *ngFor= "let phone of prospect.phones">
             {{ phone.numero }} </p>
             <p *ngFor = "let mail of prospect.mails">
                {{ mail.email }} </p>
          
           

            <ion-item>      
              <p *ngIf=" prospect.client == '0' " > C'est un prospect </p>
              <p *ngIf=" prospect.client == '1' " > C'est un client </p>  
            </ion-item>
          </div>
        
          <!-- {{ product.name }}<br/>
          {{ product.price }}<br/>
          {{ product.mark }}<br/> -->
      </div>
     
      <!-- <ion-img src="assets/imgs/glace.jpg"></ion-img> -->
    </ion-card-content>
  </ion-card>


  
  </ion-content><span class="bold">{{ prospect.nom }} </span><br/>



<!-- 
<ion-content padding>
<ion-card>
  <ion-card-heade></ion-card-heade></ion-card-header>
  <ion-card-content>

      <div *ngIf="prospect"> 
      
         
          <div class="description">
            <span class="bold">{{ prospect.nom }} </span><br/>
            <span class="italic">{{ product.prenom }} euros</span><br/>
            
          </div> -->
        
    <!-- <p> {{ prospect.firstname }} </p>
    <p> {{ prospect.society }} </p>
    <p> {{ prospect.mail }} </p>
    <p> {{ prospect.phone }} </p>
    <p> {{ prospect.customer }} </p> -->

    <!-- <div *ngIf="prospect">
      {{ prospect.name }}<br/>
      {{ prospect.firstname }}<br/>
      {{ prospect.society }}<br/>
      {{ prospect.mail }}<br/>
      {{ prospect.phone }}<br/>
      {{ prospect.customer }}<br/>
  </div> -->
  <!-- </ion-card-content>
</ion-card>
</ion-content> -->

