
<ion-header>
  <ion-navbar>
    <ion-title>Modification d'un produit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>



<!--
  <button ion-button (click)="locate()">Get Current Location</button> -->

  <form (ngSubmit)="onGoToUpdate(product.id)" [formGroup]="validateForm" >
    <div *ngIf="product">

      <ion-item>
        <ion-label floating>Nom du produit</ion-label>
        <ion-input [(ngModel)]="product.nom" formControlName="nom" type="text"  name="nom" id="nom" ></ion-input>
      </ion-item>
      <p *ngIf="validateForm.controls.nom.hasError('required')">Veuillez indiquer le nom du produit</p>
      <p *ngIf="validateForm.controls.nom.hasError('minLength(4)')">Hello</p>

      <ion-item>
        <ion-label floating>Prix du produit</ion-label>
        <ion-input [(ngModel)]="product.prix" formControlName="prix"  type="number"  name="prix" id="prix" ></ion-input>
      </ion-item>
      <p *ngIf="validateForm.controls.prix.hasError('required') && validateForm.controls.nom.touched">Veuillez indiquer le prix du produit</p>

      <ion-item>
        <ion-label floating>Fabricant du produit </ion-label>
        <ion-input [(ngModel)]="product.fabricant" formControlName="fabricant" type="text" name="fabricant" id="fabricant" ></ion-input>
      </ion-item>
      <p *ngIf="validateForm.controls.fabricant.hasError('required') && validateForm.controls.nom.touched">Veuillez indiquer le fabricant du produit</p>

      <ion-item>
        <ion-label floating>Description du produit </ion-label>
        <ion-input [(ngModel)]="product.description" formControlName="description"  type="text" name="description" id="description" ></ion-input>
      </ion-item>
      <p *ngIf="validateForm.controls.description.hasError('required') && validateForm.controls.nom.touched">Veuillez indiquer la description du produit</p>

      <ion-item>
        <ion-label floating>Photo du produit </ion-label>
        <ion-input  [(ngModel)]="product.photo" formControlName="photo" type="text" name="photo" id="photo" ></ion-input>
      </ion-item>
      <p *ngIf="validateForm.controls.nom.hasError('required') && validateForm.controls.nom.touched">Veuillez indiquer la photo du produit</p>

      <ion-item>
        <ion-label floating>Délai du produit </ion-label>
        <ion-input [(ngModel)]="product.delai" formControlName="delai"  type="text" name="delai" id="delai" ></ion-input>
      </ion-item>


      <button color="danger" ion-button type="submit" block>Modifier</button>

    </div>
    </form>
    <div id="map" style="width:100%; height:100%;"></div>
</ion-content>

<!-- value="{{ product.delai }}" -->
<!-- value="{{ product.photo }}" -->
<!-- value="{{ product.nom }}" -->
