<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page d'accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button secondary (click)="onGoToProducts()">Products</button>
  <button ion-button secondary (click)="onGoToProspects()">Prospects</button>
  <button ion-button secondary (click)="onGoToDevis()">Devis</button>
</ion-content>

