
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>Devis</ion-title>
      <ion-buttons end>
        <button ion-button (click)="openInfosAlert()">
        
        <ion-icon name="add"></ion-icon>
        </button>
            </ion-buttons>
            </ion-navbar>
  </ion-header>


<ion-content padding>

  <button ion-item *ngFor="let devis of devisList" (click)="onLoadDevis(devis)">
  <ion-row>
    <ion-col size="3">
      {{ devis.prospect }}
    </ion-col>
    <ion-col>
      {{ devis.society }}
    </ion-col>
    <ion-col size="3">
      {{ devis.price }}
    </ion-col>
    <ion-col size="3">
      {{ devis.validated }}
    </ion-col>
  </ion-row>
  </button>
  </ion-content>