
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Products</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openInfosAlert()">
      <ion-icon name="add"></ion-icon>
      </button>
            </ion-buttons>
          </ion-navbar>
</ion-header>

<ion-content>

  <!-- <div *ngFor="let product of products"> -->

<!--
</button> -->

<!-- </div> -->

  <ion-grid>
      <ion-row *ngFor="let product of products" align-items-center>

        <ion-col col-10>

    <button ion-item (click)="onGoToDetails(product.id)">

        <!-- <button ion-item (click)="onLoadProduct(productsList)"> -->
          <img [src]="product.photo">
          <div class="description">
            <span class="bold">{{ product.nom }} </span><br/>
            <span class="italic">{{ product.prix }} euro<span *ngIf='product.prix >1'>s</span></span><br/>
          </div>

        </button>
        </ion-col>
        <ion-col col-2>
            <button ion-button color="danger" clear (click)="onGoToDelete(product.id)">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button color="danger" clear (click)="onGoToEdit(product.id)">
                <ion-icon name="build"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>



<ion-footer no-border>
    <p>Bas de page</p>
</ion-footer>

  <!-- ////////Exemples d'affichage avec boutons
 <button ion-button (click)="onLoadProduct('Glaces')">Glaces</button>

<ion-content padding>
    <ion-list>
      <button ion-item *ngFor="let product of productsList" (click)="onLoadProduct(product)"> {{ product.name }} </button>
    </ion-list>


<button ion-button (click)="onLoadProduct('Canards en plastique')">Canards en Plastique</button>   -->
