
<ion-header>
  <ion-navbar>
    <ion-title> </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-card-header> </ion-card-header>
  <ion-card-content>

    <!-- <p *ngFor = "let products of product"></p> -->

    <div *ngIf="product">

        <img [src]="product.photo">
        <div class="description">
          <span class="bold">{{ product.nom }} </span><br/>
          <span class="italic">{{ product.prix }} euros</span><br/>
          <p> {{ product.fabricant }} </p>
          <p> {{ product.description }} </p>
          <p> Livraison en {{ product.delai }} jours </p>
        </div>

        <!-- {{ product.name }}<br/>
        {{ product.price }}<br/>
        {{ product.mark }}<br/> -->
    </div>
    <!-- <ion-img src="assets/imgs/glace.jpg"></ion-img> -->
  </ion-card-content>
</ion-card>


</ion-content>

<!-- <p *ngFor="let products of product">
    <button ion-item (click)="onLoadProduct(productsList)"> -->
