
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Prospects</ion-title>

<!-- <ion-buttons end> -->
  <!-- <button ion-button (click)="openInfosAlert()"> -->

  <!-- <ion-icon name="add"></ion-icon> -->
  <!-- </button>
</ion-buttons> -->
    </ion-navbar>
  </ion-header>

  <ion-content>

    <div *ngFor="let prospect of prospects">
      <button ion-item (click)="onGoToDetailsProspect(prospect.id)">

      <!-- <button ion-item (click)="onLoadProduct(productsList)"> -->


        <div class="boolean">
             <p *ngIf=" prospect.client == '1'" ><ion-icon class="body" name="ios-body"></ion-icon> </p>
             <p *ngIf=" prospect.client == '0'" > <ion-icon class="body" name="ios-body-outline">  </ion-icon> </p>
        </div>

        <div class="description">
          <span class="bold">{{ prospect.nom }} </span><br/>
          <span class="italic">{{ prospect.prenom }} </span><br/>
        </div>

      </button>
    </div>

      <form (ngSubmit)="onGoToAddProspect(prospect)" >
        <!-- <div *ngIf="prospect"> -->

          <ion-item>
            <ion-label floating></ion-label>
            <ion-input [(ngModel)]="prospect.nom"  type="text"  name="nom" id="nom" placeholder="Nom du prospect" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating></ion-label>
            <ion-input [(ngModel)]="prospect.prenom"  type="text"  name="prenom" id="prenom" placeholder="Prénom du prospect" ></ion-input>
          </ion-item>


          <ion-item>
            <ion-label floating></ion-label>
            <ion-input [(ngModel)]="prospect.society_id" type="text" name="society_id" id="society_id" placeholder="Société du prospect" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating></ion-label>
            <ion-input [(ngModel)]="prospect.mail" type="text" name="mail" id="mail" placeholder="Mail du prospect"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating></ion-label>
            <ion-input  [(ngModel)]="prospect.tel"  type="text" name="tel" id="tel" placeholder="Tél du prospect"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating></ion-label>
            <ion-input [(ngModel)]="prospect.client"  type="text" name="client" id="client" placeholder="Client ou Prospect" ></ion-input>
          </ion-item>


          <button color="danger" ion-button type="submit" block>Ajouter</button>

        <!-- </div> -->
        </form>

  <!--
  </button> -->


  </ion-content>
